*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html{
    min-height: 100vh;
}

main {
    margin: 0px;
    color:whitesmoke;
    background-color: black;
    min-height: 75vh;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    margin: 0px;
    padding: 15px;
    background-color: whitesmoke;
}

footer{
    margin: 0px;
    padding: 5px;
    background-color: whitesmoke;
    text-align: center;
    position: relative;
    width: 100%;
    bottom: 0px;
}
.canvas{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.catCard{
    padding: 30px;
    margin: 10px;
    border-radius: 15px;
    background-color: whitesmoke;
    color: black;
}

h1{
    text-align: center;
}

#gif {
    height: 150px;
    width: 150px;
}

